<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>点餐外送</title>
    <link href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" >
    <link rel="stylesheet" type="text/css" href="css/base.css" >
    <link rel="stylesheet" href="css/swiper.css"/>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/iscroll.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.lazyload.min.js"></script>
</head>
<body>
<div id="app">
    <div class="shop-show">
        <div class="swiper-close"></div>
        <div id="wrapper2" class="wapper2">
            <div class="swiper-container" id="swiper-container">
                <div class="swiper-button-prev"></div>
                <ul class="swiper-wrapper">
                    <template v-for="xq in xq_conter">
                        <li class="swiper-slide shop-list" :data-id="xq.id" :data-name="xq.cate_id">
                            <img class="swiper-lazy" v-bind:src="xq.pic_url" alt=""/>
                            <div class="title-price">
                                <div class="title">{{xq.name}}</div>
                                <div class="price">￥{{xq.price}}</div>
                            </div>
                            <div class="swiper-foter">
                                <div class="sales">月售<i>{{xq.sale_sum}}</i></div>
                                <template v-if="xq.spec == 0">
                                    <div class="add-icon" v-bind:id="xq.id">
                                        <i class="jian" v-if="xq.num> 0" v-on:click="minuse(xq)"></i>
                                        <input type="text" class="num" v-bind:value="xq.num" disabled="disabled" v-if="xq.num > 0">
                                        <i class="jia" v-on:click="plus(xq)"></i>
                                    </div>
                                </template>
                                <template v-if="xq.spec != 0">
                                    <div class="spec_bx">
                                    <span class="spec" v-on:click="spec(xq)">
                                        选规格 <i class="spec_num" v-if="get_bought_spec_total_num(xq.id)">{{get_bought_spec_total_num(xq.id)}}</i>
                                    </span>
                                    </div>
                                </template>
                            </div>
                        </li>
                    </template>
                </ul>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    <div class="main">
        <div id="wrapper" >
            <div class="scroller">
                <ul class="box1">
                    <li data-id="1">小吃</li>
                    <li data-id="2">粥类</li>
                    <li data-id="3">饮品类</li>
                    <li data-id="4">快餐</li>
                    <li data-id="5">特色小炒</li>
                    <li data-id="6">早点类</li>
                    <li data-id="7">套餐</li>
                    <li data-id="4">快餐</li>
                    <li data-id="5">特色小炒</li>
                    <li data-id="6">早点类</li>
                    <li data-id="7">套餐</li>
                    <li data-id="4">快餐</li>
                    <li data-id="5">特色小炒</li>
                    <li data-id="6">早点类</li>
                    <li data-id="7">套餐</li>
                </ul>
            </div>
        </div>
        <div id="transition" >
            <div class="scroller">
                <ul id="trans" class="box2">
                    <template v-for="good in goods">
                        <li :id="'box2_'+good.id"  v-bind:data-id="good.cate_id">
                            <a href="javascript:;" :data-name="'cate_'+good.cate_id" v-on:click="details(good.id,goods)">
                                <div class="pic">
                                    <img class="lazy" :data-original="good.pic_url">
                                </div>
                                <span class="text">
                                    <div class="title" data-id="1" style="margin-bottom:0.3rem;" v-cloak>{{good.name}}</div>
                                    <div class="price">
                                        <span v-cloak>月售{{good.sale_sum}}</span>
                                        <span v-cloak>￥<em class="pric" v-cloak>{{good.price}}</em></span>
                                    </div>
                                </span>
                            </a>
                            <template v-if="good.spec == 0">
                                <div class="add-icon" v-bind:id="good.id">
                                    <i class="jian" v-if="good.num > 0" v-on:click="minuse(good)"></i>
                                    <input type="text" class="num" v-bind:value="good.num" disabled="disabled" v-if="good.num > 0">
                                    <i class="jia" v-on:click="plus(good)"></i>
                                </div>
                            </template>
                            <template v-if="good.spec != 0">
                                <div class="spec_bx">
                            <span class="spec" v-on:click="spec(good)">
                                选规格 <i class="spec_num" v-if="get_bought_spec_total_num(good.id)" v-cloak>{{get_bought_spec_total_num(good.id)}}</i>
                            </span>
                                </div>
                            </template>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>
    <!--底部购物车结算-->
    <div class="foder">
        <a class="shop-server" href="javascript:;">我的<br>订单</a>
        <a class="settlement" href="javascript:;" v-on:click="jump" :class="enable.class" v-cloak>{{enable.text}}</a>
        <div class="total-price">合计<i id="prcnum" v-cloak>{{total}}</i><br/><i style="margin-left:8px">另需配送费2元</i><a class="shop-gwc" href="javascript:;" v-on:click="greet"><i id="car_num" v-cloak>{{shopcar_num}}</i></a></div>
    </div>
    <!--规格弹窗-->
    <div class="mt_view" v-if="spec_current" id="mt_view">
        <div class="mt_spec" id="spid2">
            <i class="close" v-on:click="close()">x</i>
            <p class="spec_title" v-cloak>{{spec_current.name}}</p>
            <p style="margin-left: 5px">规格：</p>
            <div class="spec_xz">
                <span v-for="style in spec_current.prostyle" v-on:click="set_spec(style,spec_current.id)" v-bind:class="{ys:spec_current.style_id == style.id}" v-cloak>{{style.name}}</span>
            </div>

            <!-- <p style="margin-left: 5px">温度：</p>
             <div class="spec_xz"><span style="margin-left: 17%" data-id="2-1">热</span> <span data-id="2-2">去冰</span> <span data-id="2-3">少冰</span></div>
             <p style="margin-left: 5px">甜度：</p>
             <div class="spec_xz"><span style="margin-left: 17%" data-id="3-1">正常甜</span> <span data-id="3-2">半糖</span> <span data-id="3-3">无糖</span></div>-->
            <div class="spec_prc">
                <div class="price">¥<i v-cloak>{{spec_current.price}}</i><span class="spec_text"></span></div>
                <div class="add-icon">
                    <i class="jian" v-on:click="spec_minuse(spec_current)" v-if="spec_current.num"></i>
                    <input type="text" class="num" v-bind:value="spec_current.num" readonly>
                    <i class="jia" v-on:click="spec_plus(spec_current)"></i>
                </div>
            </div>
        </div>
    </div>
    <!--购物车弹窗-->

    <div class="masking" id="masking">
        <div class="shop_gwc">
            <div><span>购物车</span> <span v-on:click="clearCar">清空购物车</span></div>
            <ul id="gwc_text">
                <template v-for="good in shopcar">
                <li v-if="good.num">
                    <span v-cloak>{{good.name}}</span>
                    <span class="prc">￥<i v-cloak>{{good.price}}元</i></span>
                    <span v-if="good.style_id" v-cloak>{{good.style_name}}</span>
                    <div class="add-icon">
                        <i class="jian" v-on:click="minuse(good)" v-if="good.num > 0"></i>
                        <input type="text" class="num" v-bind:value="good.num" readonly v-bind:value="spec_current.num">
                        <i class="jia" v-on:click="plus(good)"></i>
                    </div>
                </li>
                </template>
                <li v-if="package_total" v-cloak>餐盒费：{{package_total}}元</li>
            </ul>
        </div>
    </div>
</div>
<script src="js/index.js"></script>
</body>
</html>