<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="description" content="点餐外送">
    <meta name="keywords" content="点餐外送">
    <title>立即下单</title>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="css/order.css"/>
</head>
<body>
<div id="app">
<div class="address">
    <ul>
        <li>
            <a href="address.html">
                <div >XXX 先生 13825877649<br/>富亿中心b座1802室</div>
                <div>></div>
            </a>

        </li>
        <li class="time">
            <span>送餐时间</span><span>立即送出(大约15分钟)</span>
        </li>
    </ul>

</div>
<div class="coupon">
    <div><span>支付方式</span><span>在线支付</span></div>
    <div><span>现金劵/抵用劵/优惠劵</span><span>></span></div>
</div>
<div class="repast coupon">
    <div><span>就餐人数</span><span><input id="num" placeholder="便于商家提供餐具" readonly value="1"></span></div>
    <div><span>备注</span><input type="text"></div>
</div>
<div class="content">
    <div class="c-title">微蜗居</div>
    <div class="order">
        <ul>
            <li v-for="menus in menu" v-if="menus.num>0"><span>{{menus.name}}</span><span><i>{{menus.num}}份</i>￥{{menus.price}}</span></li>
        </ul>
    </div>
    <div class="dispatching">
        <div><span>餐盒费</span><span>￥{{package_total}}</span></div>
        <div class=""><span>配送费</span><span>￥5</span></div>
    </div>
</div>
<div class="porder">
    <div><span>应付<i>￥103.5</i></span> <button onclick="location.href='complete.html'">立即下单</button></div>
</div>
<div class="masking">
    <ul class="num">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
    </ul>
    <p>取消</p>
</div>

</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            menu:JSON.parse(localStorage.getItem('shopcar')),
            carShow:false,
            shopcar:[],
        },
        computed:{
            // 总打包费
            package_total:function(){
                var all = JSON.parse(localStorage.getItem('shopcar'));
                var total = 0;
                if(all.length){
                    $(all).each(function(index, el) {
                        total += el.num * el.package_price;
                    });
                }
                return total;
            },
            total:function(){
                var all = this.shopcar;
                var total = 0;
                if(all.length){
                    $(all).each(function(index, el) {
                        total += el.num * el.price;
                    });
                }
                return total;
            }
        },
    });
</script>

<script>
    $(".porder").on("click","button",function(){

    });
    $("#num").on("click",function(){
        $(".masking").show();
    });
    $(".num").on("click","li",function(){
        $("#num").val($(this).text());
        $(".masking").hide();
    });
    $(".masking").on("click","p",function(){
        $(".masking").hide();
    });
</script>
</body>

</html>